@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f8f8;
}

.container {
  min-width: 1024px;
  margin: 0 auto;
}

.hero {
  position: relative;
  /* width: 100%; */
}

.nav {
  background-color: #fff;
  display: flex;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 0px #00000033;
}

.nav-links ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0f1c46;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #2645af;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.logo {
  width: 200px;
}

.login-btn {
  width: 132px;
  padding: 10px 12px;
  background-color: #fff;
  color: #0f1c46;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #2645af;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn {
  width: 132px;
  padding: 10px 12px;
  margin-left: 5px;
  background-color: #2645af;
  color: #e4e6f1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #2645af;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero text section */

.hero-text {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
}

.hero-text-left {
  flex-basis: 50%;
}
.hero-text-left h1 {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
  font-size: 48px;
  font-weight: 700;
}
.hero-text-left p {
  font-family: "Open Sans", sans-serif;
  color: #2645af;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}

.hero-text-right {
  text-align: right;
}
.hero-text-right span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
}
