<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My Dashboard</title>

	<!-- Global Stylesheets -->
	<link rel="stylesheet" href="../static/globalstyle.css" />
	<link rel="stylesheet" href="../static/dashboard.css" />
</head>

<body>
	<div class="dashboard--container">
		<!-- Navigation and Sidebar -->
		<!-- Navigation -->
		<div class="dashboard--nav">
			<div class="dashboard--nav--toggle">
				<img src="" alt="toggle icon" class="dashboard--nav--toggle--icon" />
				<img src="" alt="go-chunk-logo" class="dashboard--nav--toggle--logo" />
			</div>
			<div class="dashboard--nav--user">
				<img src="" alt="notification bell" class="dasboard--nav--user--bell">
				<img src="" alt="user img" class="dashboard--nav--user--img">
				<div class="dashboard--nav--online--icon"></div>
			</div>
		</div>
		<!-- SideBar -->
		<div class="dashboard--sidebar">
			<div class="dashboard--sidebar--underline"></div>
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
			<!-- Sidebar link -->
			<a href="" class="dashboard--sidebar--links">
				<img src="" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
			</a>
			<!-- End of sidebar link -->
		</div>
		<!-- End of navigation and sidebar -->
		<div class="dashboard--main">
			<div class="dashboard--main--function">
				<h1>My fellow Go-Chunk devs!.. Type in you code here. Forget about styling it is centered</h1>
			</div>
		</div>
	</div>
</body>

</html>