* {
    box-sizing: border-box;
}
.error-2-header {
    border: 2px solid #D7D7D7;
    position: relative;
    width: 1240px;
    height: 110px;
    padding-right: 109px;
    text-align: center;
}

.error-2-body {
    position: relative;
    width: 1240px;
    height: 110px;
    text-align: center;
}
.error-2-key {
    text-align: right;
    position: absolute;
    right: 109px;
    font-family: open sans, sans-serif;
}

.error-2-key:hover {
    cursor: pointer;
    color: #2e53d2;
    font-weight: bolder;
    font-family: open sans, sans-serif;
}
.error-2-text {

    width: 421px;
    height: 44px;
    margin-left: 415px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */


    /* Grey/10 */

    color: #0B0B0B;

}

.error-1-main {

    width: 1066px;
    height: 36px;
    margin-top: 109px;
    margin-left: 50px;
    top: 277px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */


    /* Grey/10 */

    color: #0B0B0B;

}

.error-2-main {

    width: 1066px;
    height: 36px;
    text-align: left;
    margin-left: 82px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */


    /* Grey/10 */

    color: #0B0B0B;

}
.error-2-content {
    border: 1px solid #D7D7D7;
    width: 1240px;
    height: 502px;
    left: 106px;
    top: 106px;

    /* White/110 */

    background: #FEFEFE;
}
