
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimum File Size Reached</title>
    <link rel="stylesheet" href="./error-1.css">
</head>
<body>
    <div class="error-2-content">

        <div class="error-2-header">
            <span class="error-2-key">X</span>
            <div class="error-2-text"><p>Invalid File Format</p></div>
        </div>
        <div class="error-2-body">
            <div class="error-1-main"><p>You have uploaded a file format that isn’t supported, you can only upload CSV and JSON formats.</p>

                <p class="error-2-main">Kindly upload the accepted format to continue splitting your file.</p>
            </div>
        </div>
    </div>
   <script src="./error-1.js"></script>
</body>
</html>
